/* body {
    background-image: url(../images/background.jpg)
}

.jumbotron {
    background: whitesmoke;
    position: center;
    padding: 100px;
    margin: 100px;
    height: 600px;
    /* width: 80%; */
/* }
.display-3 {
    font-family: 'Bangers', 'cursive';
    font-size: 100px;
}

.btn {
    
} */ 